<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block header %}
  {% block title %}{% endblock %}
  {% endblock %}

{% block content %}
<div class="library">
<h1> Personal Library! <span> Save all information about your new book here: </span></h1>

<form method="post">
    <div class="section"><span>1</span>Book</div>
    <div class="inner-wrap">
        <label>Title:<input type="text" name="title" required /></label>
        <label>ISBN:<input type="text" name="isbn" required /></label>
        <label>Year:<input type="text" name="year" required /></label>
        <label>Pages:<input type="text" name="pages" required /></label>
        <label>Language:<input type="text" name="language" required /></label>
    </div>

    <div class="section"><span>2</span>Author</div>
    <div class="inner-wrap">
        <label>First Name:<input type="text" name="first_name" required /></label>
        <label>Last Name:<input type="text" name="last_name" required /></label>
    </div>

    <div class="section"><span>3</span>Publisher</div>
        <div class="inner-wrap">
        <label>Name:<input type="text" name="name" required /></label>
    </div>
    <div class="button-section">
     <input type="submit" name="Sign Up" />
    </div>
</form>
</div>

{% endblock %}